{{!-- Title Tag SEO --}}
<head><title>https://happyminds.onrender.com/</title></head>
{{!-- Title  Meta description Tag--}}
<head><meta name="description" content="
    {{!-- Content of desciption --}}
    Trang Web tập thể dục chất lượng cao, 
    nơi bạn có thể truy cập miễn phí và tận hưởng những buổi tập đa dạng, 
    giúp nâng cao sức khỏe và tinh thần của bạn!.
"></head>
<header>
    <a href="https://happyminds.onrender.com/" style="display: none;">https://happyminds.onrender.com/</a>
</header>
<link rel="canonical" href="https://happyminds.onrender.com/">
<div class="container bg pt-4 pb-2">
  <h2 class="d-flex justify-content-center pb-4">Suggested <span class="text-danger d-flex" style="white-space: pre;"> Calorie </span> Content of Each Dish</h2>

  <form action="/food/find" method="post">
    <div class="row d-flex justify-content-center pb-2">
      <div class="col-lg-6">
        <div class="input-group mb-3" style="width: 600px;">
          <input type="text" name="search" class="form-control form-input rounded-star" placeholder="Search Food ..."
            style="height: 55px;border-radius:15px 0px 0px 15px;">
          <div class="input-group-append">
            <button class="btn bg-white" type="submit"
              style="height: 53px;border-radius:0px 15px 15px 0px;margin-top:1px">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <a href="/food/up">
    <button class="btn btn-primary" id="sortUpBtn" onclick="">
      <i class="bi bi-sort-up"></i>
    </button>
  </a>
  <a href="/food/down">
    <button class="btn btn-primary" id="sortDownBtn">
      <i class="bi bi-sort-down"></i>
    </button>
  </a>
  {{#each foods}}
  <div class="card card-content mb-3 rounded-4">
    <div class="row g-0 justify-content-start">
      <div class="col-lg-2 d-flex justify-content-center justify-content-lg-start align-items-center text-center">
        <div class="custom-image " style="width: 200px;height: 150px; overflow: hidden;">
          <img src="{{this.img}}" class="img-fluid rounded-image mx-3 mt-2" alt="error"
            style="width: 200px;height: 150px; overflow: hidden;">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card-body card-body-text px-0 text-center text-lg-start ">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">
            <medium class="text-body-secondary">{{this.calo}}
              calo</medium>
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center align-items-center pb-lg-0 pb-3">
        <form action="/food" method="post">
          <input type="hidden" name="idFood" value="{{this._id}}">
          <input type="hidden" name="emailUser" value="{{../email}}">
          <button type="submit" class="btn btn-custom text-light bg-danger w-100 fw-medium rounded-3"
            onclick="checkLoginFood('{{../isLogin}}')">Add to Menu</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script>
  var foods = {{{ json foods }}};
  console.log(foods);
</script>