{{!-- <div class="container">
    <div class="inforUser p-2 m-3 row rounded-2">
        <div class="col-md-6">
            <div class="m-0 mb-2 fs-1 fw-bold">YOUR BMI: {{bmi}}</div>
            <div class="showInput row gap-2">
                <div class="fs-2 fw-bold">Weight status: {{bmiType}}</span></div>
                <div class="fs-2 fw-bold">Burned calories today: {{user.userCaloriesAmount}}</span></div>
            </div>
        </div>
        <div class="col-md-6 p-2">
            <div class="d-flex justify-content-end fs-2 fw-bold" id="userName">{{user.name}}</div>
            <div class="d-flex justify-content-end fs-2 fw-bold" id="userAge">{{user.age}}</div>
            <div class="d-flex justify-content-end fs-2 fw-bold" id="activityRatios">{{user.pal}}</div>
        </div>
    </div>

    <form action="" method="post">
        <div class="formArea updateForm row p-0 m-3 justify-content-between rounded-2">
            <div class="mt-2 text-center fs-2 fw-bold text-red">Update</div>
            <div class="form col-md-6 border-end text-center mb-2 rounded-start">
                <div for="height" style="font-size: 15px; font-weight: 600;">Height</div>
                <input type="number" min="0" class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center"
                    name="height" id="height" value="{{user.height}}">

                <div for="weight" style="font-size: 15px; font-weight: 600;">Weight</div>
                <input type="number" min="0" class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center"
                    name="weight" id="weight" value="{{user.weight}}">

                <div for="age" style="font-size: 15px; font-weight: 600;">Age</div>
                <input type="number" min="0" class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center" name="age"
                    id="age" value="{{user.age}}"><br>
            </div>
            <div class="inforForm form col-md-6 text-center mb-2 rounded-end">

                <div for="name" style="font-size: 15px; font-weight: 600;">Name</div>
                <input type="text" class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center" name="name" id="name"
                    value="{{user.name}}">

                <div for="sex" style="font-size: 15px; font-weight: 600;">Sex</div>
                <select class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center" name="sex" id="sex">
                    <option value="Male" {{#isEqual user.sex "Male" }}selected{{/isEqual}}>Male</option>
                    <option value="Female" {{#isEqual user.sex "Female" }}selected{{/isEqual}}>Female</option>
                </select>

                <div for="pal" style="font-size: 15px; font-weight: 600;">Physical Activity Level (PAL)</div>
                <select class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center" name="pal" id="pal">
                    <option value="Sedentary" {{isSelected user.pal "Sedentary" }}>Sedentary</option>
                    <option value="Lightly Active" {{isSelected user.pal "Lightly Active" }}>Lightly Active</option>
                    <option value="Moderately Active" {{isSelected user.pal "Moderately Active" }}>Moderately Active
                    </option>
                    <option value="Very Active" {{isSelected user.pal "Very Active" }}>Very Active</option>
                    <option value="Extremely Active" {{isSelected user.pal "Extremely Active" }}>Extremely Active
                    </option>
                </select>
            </div>
            <div class="m-2 text-center">
                <input type="submit" class="btn text-white col-md-3 p-2 m-1 border-0 rounded-5 redColor" value="Update">
            </div>
        </div>
    </form>
    <div class="mt-2 text-center text-center fs-2 fw-bold text-red">Recommended exercises for you</div>

    <div class="listVideo p-3 m-3 rounded-2">
        <div class="row justify-content-between mx-5 ">
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">First
                suggestion</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Time:
                {{time1}} minutes</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Calories:
                {{calo1}} calo</span>
        </div>
        <div class="justify-content-start mx-5 row gap-4">
            {{#each videos1}}
            <div class="card col-3 p-2" style="width: 21rem;">
                <a href="/video/{{this.videoId}}" style="color: black; text-decoration: none;">
                    <img src="{{this.image}}" class="card-img-top" alt="image">
                    <div class="card-body">
                        <p class="card-text">{{this.title}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="listVideo p-3 m-3 rounded-2">
        <div class="row justify-content-between mx-5 ">
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Second
                suggestion</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Time:
                {{time2}} minutes</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Calories:
                {{calo2}} calo</span>
        </div>
        <div class="justify-content-start mx-5 row gap-4">
            {{#each videos2}}
            <div class="card col-3 p-2" style="width: 21rem;">
                <a href="/video/{{this.videoId}}" style="color: black; text-decoration: none;">
                    <img src="{{this.image}}" class="card-img-top" alt="image">
                    <div class="card-body">
                        <p class="card-text">{{this.title}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="listVideo p-3 m-3 rounded-2">
        <div class="row justify-content-between mx-5 ">
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Third
                suggestion</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Time:
                {{time3}} minutes</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Calories:
                {{calo3}} calo</span>
        </div>
        <div class="justify-content-start mx-5 row gap-4">
            {{#each videos3}}
            <div class="card col-3 p-2" style="width: 21rem;">
                <a href="/video/{{this.videoId}}" style="color: black; text-decoration: none;">
                    <img src="{{this.image}}" class="card-img-top" alt="image">
                    <div class="card-body">
                        <p class="card-text">{{this.title}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="foodHistory p-3 m-3 rounded-2">
        <h3 class="m-0 mb-2" style="color: $red; font-weight: 700;">Food Menu</h3>
        <div class="fs-1 fw-bold">Daily calorie requirement: {{user.requiredCaloriesAmount}}calo</div>
        <h4 class="m-0 mb-2" style="font-weight: 500;">Total food calories: {{totalCalories}}calo</h4>
        {{#each foods}}
        <div class="card card-content mb-3">
            <div class="row g-0 justify-content-start">
                <div
                    class="col-lg-2 d-flex justify-content-center justify-content-lg-start align-items-center text-center">
                    <img src="{{this.img}}" class="img-fluid rounded-image mx-3 w-100" alt="error">
                </div>
                <div class="col-lg-6">
                    <div class="card-body card-body-text px-0 text-center text-lg-start">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text text-body-secondary">{{this.calo}}calo/100g</p>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center  pb-lg-0 pb-3">
                    <form action="/user/{{this._id}}" method="post">
                        <button type="submit"
                            class="btn btn-danger border-0 py-2 btn-custom text-light w-100 rounded-2">Remove</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>  --}}
<div class="heading">
    <h2 class="text-danger fw-bold text-center pt-3 pb-3">PROFILE</h2>
</div>
<div class="inforBlock bg-light m-5 rounded-3">
    <div class="avatar row justify-content-center align-items-top">
        <div class="col-lg-1 d-flex flex-row align-items-top"></div>
        <div class="col-lg-10 d-flex justify-content-center">
            <img class="profile_picture" style="width: 200px; height: 200px" src="./img/Ellipse 1.png" alt="profile_picture">
        </div>
        <div class="col-lg-1 mh-100 d-flex flex-row align-items-top justify-content-end" style="height: 40px;">
            <button class="d-flex flex-row align-items-top justify-content-end border-0 bg-light" data-bs-toggle="modal" data-bs-target="#userForm"> 
                <i class="bi bi-pencil-square editIcon fs-3 p-2 pt-0" id="editUser"></i>
            </button>
        </div>
    </div>
    
    <div class="name">
        <h2 class="text-center m-0 p-0" id="username">{{user.name}}</h2>
    </div>
    <div class="modal fade" data-bs-backdrop="static" id="userForm" tabindex="-1" aria-labelledby="userFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-end border-0">
                    <button class="closeModal m-0 p-0" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle-fill fs-4 iconClose"></i>
                    </button>
                </div>
                <form action="" method="post">
                <div class="modal-body border-0">
                    <div class="avatar row justify-content-center">
                        <div class="blank col-lg-3"></div>
                        <div class="col-lg-4 d-flex flex-column align-items-center">
                            <img class="" style="width: 160px; height: 160px" src="./img/Ellipse 1.png" alt="profile_picture">
                            <div class="changeProfilePicture pt-2" id="changePhoto">
                                <input type="file" id="changeImg" class="d-none">
                                <button class="buttonModal p-1 px-1 d-flex justify-content-center align-items-center" onclick="document.getElementById('changeImg').click();" style="width: 30px; height: 30px; border-radius: 50%">
                                    <i class="bi bi-camera-fill fs-6 "></i>
                                </button>
                            </div>
                        </div>
                        
                        <div class="blank col-lg-3"></div>
                    </div>
                    <div class="changeName mb-2">
                        <p class="m-0 py-2 fs-5 fw-bold" >Họ và tên: </p>
                        <input class="formInput col-lg-12 p-2" type="text" name="name" id="nameInput" class="" placeholder="Nhập tên mới..." value="{{user.name}}">
                    </div>
                    <div class="row mb-2">
                        <div class="changeActivityRatios col-lg-4">
                            <p class="m-0 py-2 fs-5 fw-bold" >Mức độ hoạt động: </p>
                            <select class="formInput col-lg-12 p-2" name="pal" id="palSelection">
                                {{#each ActivityStatus}}
                                    <option value="{{this}}" {{isSelected ../user.pal this}}> {{this}} </option>
                                {{/each}}
                            </select>       
                        </div>
                        <div class="changeSex col-lg-4">
                            <p class="m-0 py-2 fs-5 fw-bold" >Giới tính: </p>
                            <select class="formInput col-lg-12 p-2" name="sex" id="sexSelection">
                                <option value="Male" {{isSelected user.sex 'Male'}}>Nam</option>
                                <option value="Female" {{isSelected user.sex 'Female'}}>Nữ</option>
                            </select>       
                        </div>
                    </div>
                    <div class="changeInfor row">
                        <div class="changeHeight col-lg-4">
                            <p class="m-0 py-2 fs-5 fw-bold" >Chiều cao (cm): </p>
                            <input class="formInput col-lg-12 p-2" type="text" name="height" id="heightInput" class="" placeholder="Nhập chiều cao" value="{{user.height}}">
                        </div>
                        <div class="changeWeight col-lg-4">
                            <p class="m-0 py-2 fs-5 fw-bold" >Cân nặng (kg): </p>
                            <input class="formInput col-lg-12 p-2" type="text" name="weight" id="weightInput" class="" placeholder="Nhập cân nặng" value="{{user.weight}}">
                        </div>
                        <div class="changeAge col-lg-4">
                            <p class="m-0 py-2 fs-5 fw-bold" >Tuổi: </p>
                            <input class="formInput col-lg-12 p-2" type="text" name="age" id="ageInput" class="" placeholder="Nhập tuổi" value="{{user.age}}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0 d-flex justify-content-center">
                    <input class="buttonModal" type="submit" value="Lưu thông tin"></input>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="inforBar row p-2 pb-4 mx-2 mb-2 justify-content-center">
        <div class="firstitem item_inforBar col-lg-2 p-2 d-flex flex-row justify-content-center ">
            <img src="./img/bmi_logo.png" alt="">
            <div class="userInfor d-flex flex-column justify-content-center mx-1 fs-1">
                <h4 class="fs-3 " id="bmi_calculated">{{bmi}}</h4>
                <h4 class="fs-3 ">BMI</h4>
            </div>
        </div>
        <div class="item_inforBar col-lg-2 p-2  d-flex flex-row justify-content-center">
            <img src="./img/height_logo.png" alt="">
            <div class="userInfor d-flex flex-column justify-content-center mx-1 fs-1">
                <h4 class="fs-3 " id="height">{{user.height}}</h4>
                <h4 class="fs-3 ">CM</h4>
            </div>
        </div>
        <div class="item_inforBar col-lg-2 p-2  d-flex flex-row justify-content-center">
            <img src="./img/weight_logo.png" alt="">
            <div class="userInfor d-flex flex-column justify-content-center mx-1 fs-1">
                <h4 class="fs-3 " id="weight">{{user.weight}}</h4>
                <h4 class="fs-3 ">KG</h4>
            </div>
        </div>
        <div class="item_inforBar col-lg-2 p-2  d-flex flex-row justify-content-center">
            <img src="./img/age_logo.png" alt="">
            <div class="userInfor d-flex flex-column justify-content-center mx-1 fs-1">
                <h4 class="fs-3 " id="age">{{user.age}}</h4>
                <h4 class="fs-3 ">AGE</h4>
            </div>
        </div>
        <div class="lastitem item_inforBar col-lg-2 p-2 px-3 d-flex flex-row justify-content-center ">
            <img src="./img/calo_logo.png" alt="">
            <div class="userInfor d-flex flex-column justify-content-center mx-1 fs-1">
                <h4 class="fs-3 " id="calo">{{user.requiredCaloriesAmount}}</h4>
                <h4 class="fs-3 ">CALO</h4>
            </div>
        </div>
    </div>
</div>
<div class="courseBMI m-5">
    <div class="heading_user p-0">
        <h4 class="fw-bold p-0">KHOÁ HỌC</h4>
    </div>
    <div class="courses pt-2">
        <div class="row gap-2">
            {{#each videos1}}
            <div class="card col-3 p-2 mx-2 " style="width: 25rem;">
                <a href="/video/{{this.videoId}}" style="color: black; text-decoration: none;">
                    <img src="{{this.image}}" class="card-img-top" alt="image">
                    <div class="card-body">
                        <p class="card-text">{{this.title}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="menu m-5">
    <div class="heading_user p-0">
        <h4 class="fw-bold p-0">THỰC ĐƠN</h4>
    </div>
    <div class="menu_table row">
        <table class="row">
            <thead >
                <tr class="row rounded-top" style="background-color: rgba(253, 0, 84, 1) ; ">
                    <td class="fw-bold col-lg-11 d-flex align-items-center " style="color: white; ">HÔM NAY</td>
                    <td class="fw-bold col-lg-1 d-flex justify-content-end  align-items-center p-2">
                        <button class="border-0 editMenu" data-bs-toggle="modal" data-bs-target="#menuModal">
                            <i class="bi bi-pencil-square fs-3  pt-0" id="editUser" style="color: white;"></i>
                        </button>
                    </td>
                </tr>
                <tr class="row bg-light p-2 border-bottom border-1 border-dark">
                    <td class="col-lg-2 text-center fw-bold fs-5 p-0">Tên</td>
                    <td class="col-lg-3 text-center fw-bold fs-5 p-0">Hình ảnh</td>
                    <td class="col-lg-2 text-center fw-bold fs-5 p-0">Calo/100g</td>
                    <td class="col-lg-2 text-center fw-bold fs-5 p-0">Khối lượng</td>
                    <td class="col-lg-3 text-center fw-bold fs-5 p-0">Phân loại</td>
                </tr>
            </thead>
            <tbody>
                {{#each foods}}
                <tr class="row bg-light p-2">
                    <td class="col-lg-2  fs-5 p-0 d-flex align-items-center justify-content-center">{{this.name}}</td>
                    <td class="col-lg-3  fs-5 p-0 d-flex align-items-center justify-content-center">
                        <img src="{{this.img}}" alt="" style="width: 80px; height: 70px;">
                    </td>
                    <td class="col-lg-2  fs-5 p-0 d-flex align-items-center justify-content-center">{{this.calo}}</td>
                    <td class="col-lg-2  fs-5 p-0 d-flex align-items-center justify-content-center">200g</td>
                    <td class="col-lg-3  fs-5 p-0 d-flex align-items-center justify-content-center">{{this.category}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>

</div>
      <div class="modal fade" data-bs-backdrop="static"  id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header text-light" style="background-color: rgba(253, 0, 84, 1);">
              <h5 class="modal-title" id="menuModalLabel">MY MENU</h5>
              <button class="border-0" data-bs-dismiss="modal" aria-label="Close" style="background-color: rgba(253, 0, 84, 1); color: white"><i class="bi bi-x-circle-fill fs-4"></i></button>
            </div>
            <div class="modal-body pb-0">
              <table class=" border border-2 ">
                <thead>
                  <tr class="text-center fw-bold justify-content-center " style="background-color:rgb(216, 214, 214);">
                    <td style="width: 200px; height: 40px;">Tên</td>
                    <td style="width: 150px; height: 40px;">Calo/100g(calo)</td>
                    <td style="width: 150px; height: 40px;">Khối lượng(g)</td>
                    <td style="width: 150px; height: 40px;">Tổng calo</td>
                    <td style="width: 100px; height: 40px;">Xoá</td>
                  </tr>
                </thead>
                <tbody>
                {{#each foods}}
                  <tr class="text-center fw-bold justify-content-center">
                    <td class="menuRow">{{this.name}}</td>
                    <td class="menuRow">{{this.calo}}</td>
                    <td class="menuRow">200</td>
                    <td class="menuRow">{{this.calo}}</td>
                    <td class="menuRow" style="width: 100px; height: 40px;"><i class="bi bi-trash3-fill p-1 px-2 rounded-2" style="background-color: rgba(253, 0, 84, 1); color: white; cursor: pointer;"></i></td>
                  </tr>
                  {{/each}}      
                </tbody>
              </table>
              <div class="line mt-4 my-2" style="height: 2px; background-color: rgb(211, 211, 211);"></div>
              <div class="totalMenu">
                  <div class="row justify-content-between pb-1">
                    <div class="col-lg-3 fw-semibold" style="font-size: 18px;">Items </div>
                    <div class="col-lg-3 fw-semibold d-flex justify-content-end" style="font-size: 18px;">6</div>
                  </div>
                  <div class="row justify-content-between pb-1">
                    <div class="col-lg-4 fw-semibold" style="font-size: 18px;">Your required calories </div>
                    <div class="col-lg-3 fw-semibold d-flex justify-content-end" style="font-size: 18px;">2000 calo</div>
                  </div>
                  <div class="row justify-content-between pb-1">
                    <div class="col-lg-3 fw-semibold" style="font-size: 18px;">Total calories </div>
                    <div class="col-lg-3 fw-semibold d-flex justify-content-end" style="font-size: 18px;">2200 calo</div>
                  </div>
              </div>
            </div>
            <div class="modal-footer border-0 pt-1">
              <button type="button" class="btn border-0 fw-semibold" data-bs-dismiss="modal" style="background-color:rgba(253, 0, 84, 1); color: white;">CLOSE</button>
              <button type="button" class="btn border-0 fw-semibold" style="background-color:rgba(253, 0, 84, 1); color: white;">ADD TO MENU</button>
            </div>
          </div>
        </div>
      </div>
