<div class="container">
    <div class="inforUser p-2 m-3 row rounded-2">
        <div class="col-md-6">
            <div class="m-0 mb-2 fs-1 fw-bold">YOUR BMI: {{bmi}}</div>
            <div class="showInput row gap-2">
                <div class="fs-2 fw-bold">Weight status: {{bmiType}}</span></div>
                <div class="fs-2 fw-bold">Burned calories today: {{user.userCaloriesAmount}}</span></div>
            </div>
        </div>
        <div class="col-md-6 p-2">
            <div class="d-flex justify-content-end fs-2 fw-bold" id="userName">{{user.name}}</div>
            <div class="d-flex justify-content-end fs-2 fw-bold" id="userAge">{{user.age}}</div>
            <div class="d-flex justify-content-end fs-2 fw-bold" id="activityRatios">{{user.pal}}</div>
        </div>
    </div>

    <form action="" method="post">
        <div class="formArea updateForm row p-0 m-3 justify-content-between rounded-2">
            <div class="mt-2 text-center fs-2 fw-bold text-red">Update</div>
            <div class="form col-md-6 border-end text-center mb-2 rounded-start">
                <div for="height" style="font-size: 15px; font-weight: 600;">Height</div>
                <input type="number" min="0" class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center"
                    name="height" id="height" value="{{user.height}}">

                <div for="weight" style="font-size: 15px; font-weight: 600;">Weight</div>
                <input type="number" min="0" class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center"
                    name="weight" id="weight" value="{{user.weight}}">

                <div for="age" style="font-size: 15px; font-weight: 600;">Age</div>
                <input type="number" min="0" class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center" name="age"
                    id="age" value="{{user.age}}"><br>
            </div>
            <div class="inforForm form col-md-6 text-center mb-2 rounded-end">

                <div for="name" style="font-size: 15px; font-weight: 600;">Name</div>
                <input type="text" class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center" name="name" id="name"
                    value="{{user.name}}">

                <div for="sex" style="font-size: 15px; font-weight: 600;">Sex</div>
                <select class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center" name="sex" id="sex">
                    <option value="Male" {{#isEqual user.sex "Male" }}selected{{/isEqual}}>Male</option>
                    <option value="Female" {{#isEqual user.sex "Female" }}selected{{/isEqual}}>Female</option>
                </select>

                <div for="pal" style="font-size: 15px; font-weight: 600;">Physical Activity Level (PAL)</div>
                <select class="col-md-8 col-11 p-2 m-1 border-0 rounded-2 text-center" name="pal" id="pal">
                    <option value="Sedentary" {{isSelected user.pal "Sedentary" }}>Sedentary</option>
                    <option value="Lightly Active" {{isSelected user.pal "Lightly Active" }}>Lightly Active</option>
                    <option value="Moderately Active" {{isSelected user.pal "Moderately Active" }}>Moderately Active
                    </option>
                    <option value="Very Active" {{isSelected user.pal "Very Active" }}>Very Active</option>
                    <option value="Extremely Active" {{isSelected user.pal "Extremely Active" }}>Extremely Active
                    </option>
                </select>
            </div>
            <div class="m-2 text-center">
                <input type="submit" class="btn text-white col-md-3 p-2 m-1 border-0 rounded-5 redColor" value="Update">
            </div>
        </div>
    </form>
    <div class="mt-2 text-center text-center fs-2 fw-bold text-red">Recommended exercises for you</div>

    <div class="listVideo p-3 m-3 rounded-2">
        <div class="row justify-content-between mx-5 ">
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">First
                suggestion</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Time:
                {{time1}} minutes</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Calories:
                {{calo1}} calo</span>
        </div>
        <div class="justify-content-start mx-5 row gap-4">
            {{#each videos1}}
            <div class="card col-3 p-2" style="width: 21rem;">
                <a href="/video/{{this.videoId}}" style="color: black; text-decoration: none;">
                    <img src="{{this.image}}" class="card-img-top" alt="image">
                    <div class="card-body">
                        <p class="card-text">{{this.title}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="listVideo p-3 m-3 rounded-2">
        <div class="row justify-content-between mx-5 ">
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Second
                suggestion</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Time:
                {{time2}} minutes</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Calories:
                {{calo2}} calo</span>
        </div>
        <div class="justify-content-start mx-5 row gap-4">
            {{#each videos2}}
            <div class="card col-3 p-2" style="width: 21rem;">
                <a href="/video/{{this.videoId}}" style="color: black; text-decoration: none;">
                    <img src="{{this.image}}" class="card-img-top" alt="image">
                    <div class="card-body">
                        <p class="card-text">{{this.title}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="listVideo p-3 m-3 rounded-2">
        <div class="row justify-content-between mx-5 ">
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Third
                suggestion</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Time:
                {{time3}} minutes</span>
            <span class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Calories:
                {{calo3}} calo</span>
        </div>
        <div class="justify-content-start mx-5 row gap-4">
            {{#each videos3}}
            <div class="card col-3 p-2" style="width: 21rem;">
                <a href="/video/{{this.videoId}}" style="color: black; text-decoration: none;">
                    <img src="{{this.image}}" class="card-img-top" alt="image">
                    <div class="card-body">
                        <p class="card-text">{{this.title}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="foodHistory p-3 m-3 rounded-2">
        <h3 class="m-0 mb-2" style="color: $red; font-weight: 700;">Food Menu</h3>
        <div class="fs-1 fw-bold">Daily calorie requirement: {{user.requiredCaloriesAmount}}</div>
        <h4 class="m-0 mb-2" style="font-weight: 500;">Total food calories: {{totalCalories}}</h4>
        {{#each foods}}
        <div class="card card-content mb-3">
            <div class="row g-0 justify-content-start">
                <div
                    class="col-lg-2 d-flex justify-content-center justify-content-lg-start align-items-center text-center">
                    <img src="{{this.img}}" class="img-fluid rounded-image mx-3 w-100" alt="error">
                </div>
                <div class="col-lg-6">
                    <div class="card-body card-body-text px-0 text-center text-lg-start">
                        <h5 class="card-title">{{this.name}}</h5>
                        {{!-- <p class="card-text">{{this.description}}</p> --}}
                        <p class="card-text text-body-secondary">{{this.calo}} calo/100g </p>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center  pb-lg-0 pb-3">
                    <form action="/user/{{this._id}}" method="post">
                        <input type="hidden" name="email" value="{{../email}}">
                        <button type="submit"
                            class="btn btn-danger border-0 py-2 btn-custom text-light w-100 rounded-2">Remove</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>