<div class="container page">
    <div class="intro_video text-center d-flex flex-column align-items-center py-4 pt-5">
        <h3 style="color: $red;">COACHES</h3>
        <p style="font-size: 16px; font-weight: 500;">BUILD YOUR BODY<br>OUR EXERCISE</p>
    </div>
        <div class="level_block mx-md-5 mx-3 my-md-3 my-2 ">
        <div class="row justify-content-center mx-5 ">
            <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center mb-4 my-2 px-0"  id="level_1">LEVEL 1</p>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Arms</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each armsLevel_1}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                            <div class="card-body">
                                <p class="card-text">{{this.title}}</p>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Abs</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each absLevel_1}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Shoulder</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each shoulderLevel_1}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">  
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Chest</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each chestLevel_1}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2"> 
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Legs</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each legsLevel_1}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="level_block mx-md-5 mx-3 my-md-3 my-2 ">
        <div class="row justify-content-center mx-5 ">
            <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0"  id="level_3">LEVEL 2</p>
            <div class="col-md-5 col-5 m-1 more d-md-none d-flex justify-content-end align-items-center px-0">SEE MORE</div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">            
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Arms</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each armsLevel_2}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
        </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">            
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Abs</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each absLevel_2}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">            
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Shoulder</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each shoulderLevel_2}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">            
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Chest</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each chestLevel_2}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">            
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Legs</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each legsLevel_2}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="level_block mx-md-5 mx-3 my-md-3 my-2 ">
        <div class="row justify-content-center mx-5 ">
            <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0"  id="level_3">LEVEL 3</p>
            <div class="col-md-5 col-5 m-1 more d-md-none d-flex justify-content-end align-items-center px-0">SEE MORE</div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">            
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Arms</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each armsLevel_2}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
        </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">            
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Abs</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each absLevel_2}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">            
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Shoulder</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each shoulderLevel_2}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">            
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Chest</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each chestLevel_2}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="listVideo p-3 mb-3 rounded-2">            
            <div class="row mx-5 ">
                <p class="level col-md-2 col-5 d-flex justify-content-center align-items-center my-2 px-0">Legs</p>
            </div>
            <div class="justify-content-md-start mx-5 row gap-4 ">
            {{#each legsLevel_2}}
                    <div class="card col-3 p-2" style="width: 21rem;">
                        <a href="/video/{{this.videoId}}">
                            <img src="{{this.image}}" class="card-img-top" alt="image">
                        </a>
                        <div class="card-body">
                        <a href="/video/{{this.videoId}}">
                            <p class="card-text">{{this.title}}</p>
                        </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>   
</div>